body {
  font-family: 'Marvel', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ed2324;
}

.logo {
  height: 60px;
}

.personajes {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
  margin-top: 5px;
  justify-content: center;
  background-color: #202020;
  overflow-x: scroll;
  height: 200px;
}

.personaje {
  height: 150px;
  border-radius: 0px 0px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding: 20px 7px 7px 7px;
}

.personaje-fotoSmall {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  border: solid 3px #fefefe;
}

.personaje:hover {
  background-color: #ed2324;
}

.personaje-nombre {
  font-size: 15px;
  color: #fefefe;
  text-align: center;
}

.informacion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
